<!-- Footer -->
<footer style="background-color: #09243F; color: #f0f0f0; height: 200px; text-align: left; padding: 20px;" role="contentinfo">
  <div style="margin-bottom: 10px;">
    <strong>DEPICT - Center for AI in Medical Imaging​</strong><br>
    Rigshospitalet<br>
    Department of Clinical Physiology and Nuclear Medicine<br>
    Department of Radiology and Scanning<br>
  </div>
</footer>
