<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer Example</title>
    <style>
        .footer-custom {
            background-color: #9CC0D0; /*#09243F; */
            color: #000000 !important; /*#f2e6d9 !important; */
            height: 200px;
            text-align: left;
            padding: 20px;
            padding-left: 40px; /* Juster denne værdi for at flytte teksten mere til højre */
        }

        .footer-custom div {
            margin-bottom: 10px;
            color: #000000 !important; /* Hvid skrift med !important */
        }

        .footer-custom strong {
            color: #000000 !important; /* Hvid skrift med !important */
        }

        .footer-custom br {
            color: #000000 !important; /* Hvid skrift med !important */
        }
    </style>
</head>
<body>
    <!-- Footer -->
    <footer class="footer-custom" role="contentinfo">
      <div>
        <strong>DEPICT - AI and Medical Analysis</strong><br>
        Rigshospitalet<br>
        Centre of Diagnostic Investigation<br>
      </div>
    </footer>
</body>
</html>
