<footer style="background-color: #09243F; color: #ffffff; height: 200px;" role="contentinfo">
  <div class="container mt-3">
    <div style="margin-bottom: 10px;">
      <strong>DEPICT - Center for AI in Medical Imaging​</strong><br>
      Rigshospitalet<br>
      Department of Clinical Physiology and Nuclear Medicine<br>
      Department of Radiology and Scanning<br>
    </div>
</footer>
