<!-- Footer -->
<footer style="background-color: #09243F; color: #f0f0f0; height: 200px; text-align: left;" role="contentinfo">
  <div class="container mt-3">
    <div style="margin-bottom: 10px;">
      <strong>DEPICT - Center for AI in Medical Imaging​</strong><br>
      Rigshospitalet<br>
      Department of Clinical Physiology and Nuclear Medicine<br>
      Department of Radiology and Scanning<br>
      Borgmester Ib Juuls Vej 17, 2730 Herlev<br>
      Nielsine Nielsens Vej 41A, Indgang 7A, 2400 København NV<br>
    </div>
  </div>
</footer>

