<footer style="background-color: #283593; color: #ffffff; height: 100px;" role="contentinfo">
  <div class="container mt-3">
    <div style="margin-bottom: 10px;">
      <strong>RAIT - Radiological Artificial Intelligence Testcenter</strong><br>
      Herlev og Gentofte Hospital<br>
      Afdelingen for Røntgen og Skanning<br>
      Borgmester Ib Juuls Vej 17<br>
      2730 Herlev<br>
    </div>
    <div>
      <strong>Bispebjerg og Frederiksberg Hospital</strong><br>
      Røntgenafdelingen<br>
      Nielsine Nielsens Vej 41A, Indgang 7A<br>
      2400 København NV<br>
    </div>
  </div>
</footer>
