<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer Example</title>
    <style>
        .footer-custom {
            background-color: #09243F;
            color: #ffffff; /* Hvid skrift */
            height: 200px;
            text-align: left;
            padding: 20px;
            padding-left: 40px; /* Juster denne værdi for at flytte teksten mere til højre */
        }

        .footer-custom div {
            margin-bottom: 10px;
        }
        
        /* Gør teksten i strong-elementet hvid */
        .footer-custom strong {
            color: #ffffff;
        }
    </style>
</head>
<body>
    <!-- Footer -->
    <footer class="footer-custom" role="contentinfo">
      <div>
        <strong>DEPICT - Center for AI in Medical Imaging​</strong><br>
        Rigshospitalet<br>
        Department of Clinical Physiology and Nuclear Medicine<br>
        Department of Radiology and Scanning<br>
      </div>
    </footer>
</body>
</html>
