---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill",
  "cv",
  "tabs",
  "typograms",
  "font-awesome/fontawesome",
  "font-awesome/brands",
  "font-awesome/solid",
  "font-awesome/regular",
  "tabler-icons/tabler-icons.scss",
  "tabler-icons/tabler-icons-filled.scss",
  "tabler-icons/tabler-icons-outline.scss"
;

// Custom styling
.full-width-image {
  width: 100%;
  max-width: 100%;
}


/* Tilpasning af mellemrum mellem menu og forsidebilledet */
.image-placeholder {
  margin-top: -30px; /* Juster dette tal efter behov for at mindske mellemrummet */
}

.image-placeholder:first-child {
  margin-bottom: 20px; /* Juster dette tal efter behov for at tilføje plads mellem billede 1 og billede 2 */
}

.image-placeholder img {
  width: 100%;
  max-width: 100%;
}

img {
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.full-width-container {
  width: 100%;
  padding: 0;
  margin: 0;
}

/* Ensure images are responsive */
.full-width-container img {
  width: 100%;
  height: auto;
}

/* Media queries for different screen sizes */
@media (max-width: 767px) {
  .full-width-container {
    padding: 0 15px; /* Add some padding on small screens */
  }
  
  .full-width-container img {
    width: 100%;
    height: auto;
  }

  .clearfix {
    padding: 10px; /* Add padding to text content on small screens */
  }
}


.contact-box {
    border: 1px solid #ccc; /* Tilføj en tynd streg rundt om indholdet */
    border-radius: 5px; /* Tilføj afrundede hjørner for et mere stilfuldt udseende */
    padding: 20px;
    width: 800px;
    height: 400px; /* Juster dette tal efter behov for at ændre højden */
    margin: 0 auto; /* Centerindholdet */
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3); /* Tilføj en subtil skygge */
}


/* CSS-regler til styling af menuen */
.navbar {
    background-color: #F5F5F5; /* Skift farven til den ønskede farve */
    opacity: 1; /* Sørg for at opaciteten er 1, så den ikke er gennemsigtig */
    /* Andre styling-regler efter behov */
}


.navbar .search-icon {
    margin-top: 5px; /* Juster dette tal efter behov for at flytte søgeikonet ned */
}

