---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill",
  "cv",
  "tabs",
  "typograms",
  "font-awesome/fontawesome",
  "font-awesome/brands",
  "font-awesome/solid",
  "font-awesome/regular",
  "tabler-icons/tabler-icons.scss",
  "tabler-icons/tabler-icons-filled.scss",
  "tabler-icons/tabler-icons-outline.scss"
;

// Custom styling
.full-width-image {
  width: 100%;
  max-width: 100%;
}

/* Ensure images are responsive and stretch to the edges */
img {
  width: 100%;
  height: auto;
  display: block;
  margin-left: 0; /* Changed to 0 to ensure images touch the sides */
  margin-right: 0; /* Changed to 0 to ensure images touch the sides */
}

.image-placeholder {
  margin-top: -30px; /* Adjust this value to reduce the gap between the menu and the first image */
}

.image-placeholder:first-child {
  margin-bottom: 20px; /* Adjust this value to add space between the first and second images */
}

.image-placeholder img {
  width: 100%;
  max-width: 100%;
}

/* Full-width container with no padding or margin */
.full-width-container {
  width: 100%;
  padding: 0;
  margin: 0;
}

/* Ensure images in full-width container are responsive */
.full-width-container img {
  width: 100%;
  height: auto;
}

/* Media queries for different screen sizes */
@media (max-width: 767px) {
  .full-width-container {
    padding: 0 15px; /* Add some padding on small screens */
  }
  
  .full-width-container img {
    width: 100%;
    height: auto;
  }

  .clearfix {
    padding: 10px; /* Add padding to text content on small screens */
  }
}

.contact-box {
    border: 1px solid #ccc; /* Add a thin border around the content */
    border-radius: 5px; /* Add rounded corners for a more stylish look */
    padding: 20px;
    width: 500px;
    height: 200px; /* Adjust this value as needed to change the height */
    margin: 0 auto; /* Center content */
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3); /* Add a subtle shadow */
}

/* CSS rules for styling the menu */
.navbar {
    background-color: #F5F5F5; /* Change the color to the desired one */
    opacity: 1; /* Ensure opacity is 1 so it's not transparent */
    /* Other styling rules as needed */
}

.navbar .search-icon {
    margin-top: 10px; /* Adjust this value to move the search icon down */
}

#search-toggle {
  margin-top: 10px; /* Adjust this value to position the search icon */
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.container {
  flex: 1;
}

footer {
  margin-top: auto;
  background-color: #09243F;
  color: #ffffff !important; /* White with !important */
  height: 200px;
  text-align: left;
}

/* Split into two columns */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear float */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
