---
layout: default
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/main.css">
  <style>
    .full-width-image {
      width: 100vw; /* Fyld hele vinduets bredde */
      height: 100vh; /* Fyld hele vinduets højde */
      object-fit: cover; /* Gør billedet til at fylde hele containeren uden at miste proportioner */
      object-position: center; /* Centrer billedet i forhold til containeren */
      display: block;
      margin: 0;
      padding: 0;
    }
    .content {
      margin: 0;
      padding: 20px;
      background-color: white; /* Baggrundsfarve for tekstsektionen */
    }
    body, html {
      margin: 0;
      padding: 0;
    }
    nav {
      background-color: #343a40; /* Baggrundsfarve for hovedmenuen */
      color: white;
      text-align: center;
      padding: 10px 0;
      position: relative; /* Positioner hovedmenuen relativt til dokumentet */
      width: 100%; /* Gør hovedmenuen 100% bred */
      z-index: 2; /* Sørg for, at hovedmenuen er foran billedet */
    }
    nav ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    nav ul li {
      display: inline;
      margin: 0 15px;
    }
    nav ul li a {
      color: white;
      text-decoration: none;
    }
  </style>
</head>
<body>
  <main>
    <img src="{{ page.image_path }}" alt="example image" class="full-width-image">
    <div class="content">
      {{ content }}
    </div>
  </main>
</body>
</html>
