---
layout: default
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/main.css">
  <style>
    .full-width-image {
      width: 100%;
      height: auto;
      display: block;
      margin: 0;
      padding: 0;
    }
  </style>
</head>
<body>
  <main>
    <img src="/assets/img/Forsidebillede.jpg.jpg" alt="example image" class="full-width-image">
  </main>
</body>
</html>
