---
layout: default
---
  <article>
    <!-- Placeholder til billede -->
    <div class="image-placeholder">
      <img src="{{ site.baseurl }}/path/to/your/image.jpg" alt="" class="full-width-image">
    </div>

    <div class="clearfix">{{ content }}</div>
  </article>
</div>
